<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.homepage">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.location.LocationFragment"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ui.location.AddLocation"
            android:parentActivityName=".ui.location.LocationFragment">
        </activity>
        <activity
            android:name=".ui.news_and_event.NewsAndEventFragment"
            android:label="@string/title_activity_news_and_event"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.profile.RegistrationActivity"
            android:parentActivityName=".ui.profile.ProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>